body {
  margin: 0;
  font-family:'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  padding: 10px;
  border-radius: 4px;
  color: white;
  margin-bottom: 4%;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: #007bff;
}
.contactBtn{
  width: 350px;
}
h1{
  text-align: center;
}

a{
  color:#000006;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: #1f2749;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 56px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 210px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 4px;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover{
  border: 0.5px solid #4f5796;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
 /* background-color:#03001C; */
  border-color: white;
  background-color: #444;
  border: 1px solid #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.dark > a {
  color: white;
}

.dark h1{
  color: white;
}
.dark h4{
  color: white;
}
.dark h3{
  color: white
}
.dark h2{
  color: white
}
.dark p{
  color: white
}
.dark label{
  color: white
}